<nav class="navbar bg-body-tertiary shadow-sm">
  <div
    class="container-fluid justify-content-center justify-content-md-between"
  >
    <a class="navbar-brand fw-medium fs-3 mb-1 mb-md-0 text-primary">
      <i class="bi bi-printer-fill me-2"></i>Smart Printer System
    </a>

    <form action="/dashboard/search" method="post" class="d-flex" role="search">
      <input
        class="form-control me-2"
        name="searchText"
        type="search"
        placeholder="Search employees..."
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">
        <i class="bi bi-search"></i>
      </button>
    </form>
  </div>
</nav>